.header{
    background: var(--main);
    border: 1px solid rgba(253, 253, 253, 0.22);

    max-width: 100vw;
    height: 83px;

    display: flex;
    align-items: center;
    justify-content: left;
}



.title__ex{
    font-weight: 900;
    color: #a786f0;
}
.header__nav>ul>li>a{
    color: #dcdcdc;
    transition: color 0.5s;
    
}
.header__nav>ul>li:hover>a:hover{
    color: #808080;
    /* transform: scale(0.9); */
}
.active{
    padding: 5px !important;
    height: 83px;
    display: flex;
    align-items: center;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.24) 100%);
}